:root {
    --active_color: #0056B3; /* Чуть более светлый и яркий синий */
    --additional_color: #0078D7; /* Более чистый светлый синий */
}

.breadcrumbs {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 20px;
}

/* Цвета элементов */
.breadcrumbs * {
    color: var(--additional_color);
    transition: color 0.3s ease-in-out;
}

/* При наведении */
.breadcrumbs *:not(.slash):hover {
    color: var(--active_color);
}

/* Отдельные стили для списка */
.breadcrumbs li {
    position: relative;
    cursor: pointer;
}

/* Последний элемент */
.breadcrumbs li:last-child {
    color: var(--active_color);
    font-weight: bold; /* Немного выделил последний пункт */
}